@charset "utf-8";
/* /////////////////////////////////////////////////////////////////////////////


    /mypage/message/共通要素用CSS

        Since:
        Update:


///////////////////////////////////////////////////////////////////////////// */
#main {
    padding-bottom: 0;
}

/* *********************************************************************

    共通項目

********************************************************************* */
/* ~767 */
@media screen and (max-width: 767px) {
    .main__content {
        margin-bottom: 3em;
    }
}

/* *********************************************************************

    メッセージ一覧

********************************************************************* */
.message {
    display: flex;
    align-items: center;
}
.message + .message {
    margin-top: 3em;
}

/* メッセージ - 画像
--------------------------------------------- */
.message__img,
.round-img {
    margin-right: 1em;
}
.message__img {
    overflow: hidden;
    position: relative;
    width: 56px;
    height: 56px;
}
.message__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .message__img {
        width: 112px;
        height: 112px;
    }
}

/* メッセージ - 本文
--------------------------------------------- */
.message__body {
    width: calc(100% - 64px - 30% - 2em);
    /* max-width: 450px; */
}

.message__body h3 {
    margin: 0 0 .5em 0;
    font-size: 125%;
}

.message__body p {
    position: relative;
    max-height: calc(2em * 1.5);
    overflow: hidden;
}
.message__body p::before {
    content: '';
    position: absolute;
    bottom: .25em;
    right: 1px;
    width: 1em;
    height: 1.25em;
    background: #FFF;
}
.message__body p::after {
    content: '...';
    position: absolute;
    bottom: .5em;
    right: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
}
.message__body a {
    color: #000;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .message__body {
        margin-left: 1em;
    }
}

/* メッセージ - フッタ：日付＆未読
--------------------------------------------- */
.message footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
}

/* メッセージ - 日付
--------------------------------------------- */
.message__date {
    margin-right: 1em;
    font-weight: bold;
}

/* メッセージ - 未読
--------------------------------------------- */
.message__unRead {
    white-space: nowrap;
    color: white;
    background-color: #0081CC !important;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    padding: 1px 0;
    margin: 7px 0 0 auto;
    font: bold 1.3rem/2.5rem Hiragino Kaku Gothic ProN;
    box-sizing: border-box;
}

/* ~374 */
@media screen and (max-width: 374px) {
    .message__body {
        width: calc(100% - 64px - 20% - 2em);
    }
    .message footer {
        position: relative;
        display: block;
        width: 20%;
    }
    .message__date {
        margin-right: 0;
    }
}
/* 768~ */
@media screen and (min-width: 768px) {
    .message__body h3 {
        font-size: 145%;
    }
    .message footer {
        justify-content: space-between;
        /* max-width: 250px; */
    }
}

/* *********************************************************************

    メッセージ詳細

********************************************************************* */
/* ヘッダ
--------------------------------------------- */
#message__hdr {
    /*margin-bottom: 2em;*/
    /*padding-top: calc(30px + 132px + 36px);*/
    margin-top: calc(30px + 132px + 36px);
    background: #0068B7;
    position: fixed;
    z-index: 1;
}
#message__hdr > div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /*max-width: 970px;*/
    max-width: 100vw;
    padding: .5rem 0;
    /* border-bottom-right-radius: 20px; */
    color: black;
}
#message__hdr picture {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: -2.67vw;
    position: relative;
    width: 120px;
    height: 82.5px;
}
#message__hdr img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
#message__hdr > a{
    color: #fff;
}
#message__hdr > a:hover{
    opacity: 1;
}
#message__hdr > a > span,#message__hdr > a > i {
    font-size: 20px;
    margin: 12px 0px;
    padding: 0px 10px;
}
.message-detail {
    padding-top: calc(30px + 132px + 36px + 30px + 30px);
}

#message_history {
    padding: 17px;
}

.round-img {
    width: 60px;
    height: 60px;
}
.round-img picture {
    display: block;
    margin: 0 auto;
    max-width: 56px;
    max-height: 56px;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    border-radius: 50% !important;
}
.round-img.unread picture {
    margin: 2px auto;
}

.round-img img {
    max-width: 56px;
    max-height: 56px;
    box-sizing: border-box;
}

.client .round-img img {
    width: 100%;
    height: 100%;
}

.round-img.bgw img {
    background-color: #fff;
    padding: 5px;
}

.message_list>div {
    padding-left: 2.667vw;
    border-radius: 0;
}
.message_list>div,
.message_list>div>a {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    .message_list>div,
    .message_list>div>a {
        font-size: 1.8rem;
        font-weight: bold;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .client #message__hdr {
        width: 100vw;
        background: rgba(0,0,0,.3);
        margin-left: -2.667vw;
        margin-right: -2.667vw;
    }

    #message__hdr > a {
        color: #000;
    }
    #message__hdr > a > span, #message__hdr > a > i {
        font-size: 13px;
        margin: 5px 0px;
        font-weight: 700;
    }
    #message_history {
        padding: 10px 0 0 0;
    }
    #message_send {
        padding: 10px !important;
        margin-left: -10px;
        margin-right: -10px;
    }
    .message__img, .round-img {
        margin-right: 2rem;
    }
    .chats p,.model_sentence .selectBox__wrapper select,.model_sentence>textarea{
        font-size: 12px !important;
    }
    .model_sentence_button {
        padding: 5px 12px;
    }
    .message-detail {
        padding-top: calc(30px + 132px + 36px + 10px);
    }
}

@media screen and (min-width: 320px) and (max-width: 333px){
    #message__hdr {
        margin-top: calc(22px + 7em);
    }
}

@media screen and (min-width: 334px) and (max-width: 359px){
    #message__hdr {
        margin-top: calc(22px + 124px);
    }
}

@media screen and (min-width: 360px) and (max-width: 599px){
    #message__hdr {
        margin-top: calc(22px + 119px);
    }
}

@media screen and (min-width: 600px) and (max-width: 767px){
    #message__hdr {
        margin-top: calc(36px + 124px);
    }
    #message__hdr > a > span, #message__hdr > a > i {
        margin: 6px 0px;
    }
}

/* 768~ */
@media screen and (min-width: 768px) {
    #message_history {
        padding: 10px 0 0 0;
    }
    #message_send {
        margin-left: -20px;
        margin-right: -20px;
    }
    #message__hdr {
        width: 100vw;
        margin-top: calc(16rem - 1px);
        background: rgba(49, 49, 49, 0.5);
        margin-left: -20px;
    }
    #message__hdr > div {
        padding: .85rem 2rem;
    }
    #message__hdr picture {
        margin-left: -2rem;
        width: 240px;
        height: 175px;
    }
}

/* 1200~ */
@media screen and (min-width: 1200px) {
    .client #message__hdr {
        background: rgba(49, 49, 49, 0.5);
        margin-left: 0px;
    }
    #message_history {
        padding: 17px;
    }
    #message_send {
        margin-left: 0;
        margin-right: 0;
    }
    #message__hdr{
        width: 1200px;
        margin-top: calc(16rem + 3px);
        margin-left: 0;
    }
    #message__hdr > a {
        padding-left: 0;
        padding-right: 0;
    }
    #message__hdr picture {
        margin-left: 0;
    }
}

/* コンテンツ
--------------------------------------------- */
.chats {
    display: flex;
    align-items: flex-start;
    /*margin-bottom: 3em;*/
    margin-bottom: 45px;
}
.chats--student {
    justify-content: flex-end;
}
.chats > div {
    max-width: calc(70% - 16%);
}

.chats p {
    box-sizing: border-box;
    /*display: table;*/
    padding: .75em;
    /*border: solid 1px #EBEBEB;*/
    border-radius: 15px;
    background: #EBEBEB;
    font-size: 13px;
    line-height: 15px;
}
.chats.chats--company>i {
    color: #EBEBEB;
    margin: 10px -2px 8px 0px;
}
.chats--student p {
    background: #0081CC;
    color: #fff;
}
.chats.chats--student>i{
    color: #0081CC;
    margin: 8px 0px 10px -2px;
}
.chats p + p {
    margin-top: 1em;
}

.chats__date {
    /*margin-top: 1em;
    color: #363636;*/
    margin-top: 5px;
    color: #000;
    font-size: 10px;
    font-family: Hiragino Kaku Gothic Pro;
}

#message_send {
    background: #D6D6D6;
    padding: 1px 0px 30px 0px;
}
.chats__form {
    text-align: right;
}
.client button {
    background: #0081CC;
}
/*.model_sentence label {
    font-size: 15px;
}
.model_sentence .selectBox__wrapper select {
    font-size: 13px !important;
}
.model_sentence_button {
    margin: 10px 0 0 1em !important;
    font-size: 13px !important;
    padding: 5px 22px !important;
}
.model_sentence_button:nth-child(2) {
    margin: -21px 0 0 1em !important;
}
.selectBox__wrapper select {
    padding: .7em calc(.4em + .25em + 1.5em) .7em 1.5em !important;
}
.model_sentence>textarea {
    display: inline-block !important;
    width: 85% !important;
    font-size: 13px !important;
}*/

/* メッセージ送信フォーム
--------------------------------------------- */
.chats__form {
    position: relative;
    max-width: 700px;
    margin: 5em auto 0;
}

.chats__form input {
    box-sizing: border-box;
    font-size: 1.6rem;
}
.chats__form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 5em;
    padding: .5em;
    border: solid 1px #DBDBDB;
    border-radius: 5px;
    font-size: 1.6rem;
    -webkit-appearance : none;
    appearance: none;
}
.chats__form .form__controls input[type='submit'] {
    max-width: 250px;
    margin-top: 1em;
}
.client .chats__form .form__controls input[type='submit'] {
/*    background-color: #0081CC;*/
}
.chats__date>span {
    float: right;
    background: #0081cc;
    color: #fff;
    font-size: 15px;
    padding: 8px 9px;
    margin-top: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
/* 768~ */
@media screen and (min-width: 768px) {
    .chats__form input {
        font-size: 130%;
    }
    .chats__form textarea {
        height: 12em;
        /* font-size: 100%; */
    }
    .chats__form .form__controls input[type='submit'] {
        height: auto;
        font-size: 110%;
    }
}

@media all and (-ms-high-contrast:none){
    .chats__form textarea {
        padding: 1em .5em;
    }
}


/* 面接予約フォーム
--------------------------------------------- */
.interview__form {
    /*margin-top: 5em;*/
    margin-top: 30px;
    font-size: 110%;
    text-align: center;
}
.interview__form button.interview {
    width: 60%;
    max-width: 300px;
}
.button.interview {
    max-width: none;
    padding: .4em 2em .4em 2em;
    background: #0081cc;
    border-radius: 5px;
    font-size: smaller;
}

@media screen and (max-width: 767px) and (min-width: 320px){
    .interview__form {
        margin-top: 10px;
        font-size: 11px;
    }
}
