@charset "utf-8";
/* /////////////////////////////////////////////////////////////////////////////


    学生検索詳細通要素用CSS
        /client/student-search/detail/

        Since:
        Update:


///////////////////////////////////////////////////////////////////////////// */
#container {background: none !important;}
.contents {margin-top: 180px;width: 100%;}
.mobile_tab_view{display: none;}
#student_details {min-height: calc(100vh - 150px);background: #fff;border-radius: 20px 0px 0px 20px;padding: 75px 115px;}
#student_extension {float: right;max-width: 127px;position: fixed;}
.fixed_tab,.profile_link,.hidden_profile_image {width: 78px;font-size: 11px;padding: 28px 11px;
    border-radius: 0px 10px 10px 0px;text-align: center;}
.fixed_tab{background: #EB6100;margin-bottom: 15px;color: #fff;}
.fixed_tab p{text-align: justify;font-weight: 700;}
.fixed_tab img,.profile_link img{width: 30px;margin-top: 15px;}
.fixed_tab>form>button {background: none !important;font-size: 11px;padding: 0;text-align: center;line-height: unset;}
.fixed_tab>form>button:hover {opacity: 1;}

.profile_link {background: #0080CC;margin: 15px 0px;color: #fff;display: none;}
.profile_link p {text-align: justify;font-weight: 700;}

.hidden_profile_image {background: #fff;margin: 15px 0px;color: #100e0e;display: none;padding: 15px 11px;}
.hidden_profile_image i {float: right;margin-top: -5px;}
.hidden_profile_image img {width: 70px;height: 70px;overflow:hidden;border-radius: 50%;margin: 0 auto 5px;object-fit: cover;}
.hidden_profile_image h2 {text-align: left;font-weight: bold;font-size: 15px;}
.hidden_profile_image p,.hidden_profile_image>h2>span {text-align: left;font-weight: bold;font-size: 12px;}

.short_intro {min-height: 55px;font-weight: 700;margin-bottom: 30px;}
.short_intro h3{font-size: 25px;margin-bottom: 15px;}
.short_intro h3 span,.short_intro p{font-size: 15px;}

.full_width{display: grid;grid-template-columns: repeat(12, 1fr);grid-gap: 15px;margin: 20px 0px 50px 0px;}
.one_third_width{grid-column: span 4;line-height: 1.5;margin-bottom: 25px;}
.one_third_width p {padding: 0px 0px 0px 5px;border-left: 2px solid #0080CC;margin-bottom: 30px;}
.two_third_width{grid-column: span 8;line-height: 1.5;margin-bottom: 25px;}
.half_width{grid-column: span 6;}

.student_profile_image {text-align: center;}
.selected_image {width: calc(100% - 60px);margin: 0 auto 20px;}
.selected_image img {width: 200px;height:200px;overflow:hidden;border-radius:50%;object-fit: cover;margin: 0 auto;}
.all_image {width: 50px;height:50px;overflow:hidden;margin: 0 auto;border-radius:50%;}
.all_image img {width: 50px;}
.all_image img.img_active {display: none;}

.member_intro {text-align: justify;}
.member_intro h2 {font-size: 18px;font-weight: 700;margin-bottom: 15px;}
.member_intro p {font-size: 13px;line-height: 1.5;margin-bottom: 15px;}
.student-type {font-size: 100% !important;}

.member_video_or_image {margin-bottom: 15px;position: relative;width: 100%;height: 0;padding-top: 56.25%;background: #ccc;}
.member_video_or_image video,.member_video_or_image img {cursor: pointer;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.member_video_or_image p {font-size: 13px;line-height: 1.5;margin-bottom: 15px;}
.image_video_description {text-align: justify;}
.image_video_description h3 {font-size: 18px;font-weight: 700;margin-bottom: 15px;}
.image_video_description p {font-size: 13px;line-height: 1.5;margin-bottom: 15px;}

.member_details {margin: 40px 0px;font-size: 15px;}
.member_details h2 {font-size: 18px;font-weight: 700;margin-bottom: 40px;}

.client .form__controls input:only-child, .client .form__controls button:only-child {background-color: #313131;border-radius: 10px;margin: 1em;}
.tag,.intern,.student-type li {padding: .5em 1.2em;border-radius: 7px;font-size: 13px;}

.reload.web_view {width: 80px;height: 80px;position: fixed;bottom: 40px;right: 30px;}
.reload.web_view>form {max-width: 80px;max-height: 80px;}
.reload.web_view>form>input {margin: 0;background: #313131;border-color: transparent;width: 80px;height: 80px;
    border-radius: 50%;color: #fff;font-size: 20px;}

@media screen and (min-width: 1281px){
    #student_extension {top: 260px;}
}

@media screen and (min-width: 1024px){
    #main {width: 1000px;margin: 0 auto;}
    .client #mypageMenu {width: 1000px;}
    .member_details {font-size: 13px;}
    .one_third_width {margin-bottom: 0px;}
    .two_third_width {margin-bottom: 25px;padding-left: 50px;}
}

@media screen and (min-width: 768px) and (max-width:1280px){
    #container {background: #F2F2F2 !important;}
    .web_view {display: none !important; }
    .mobile_tab_view{display: block;}
    .half_width {grid-column: span 12;}
    .half_width:last-child {margin-bottom: 25px;}
    #student_details {padding: 45px 120px; border-radius: 20px;}
    .fixed_short_into {z-index: 1;position: fixed;top: 250px;background: rgba(255,255,255,0.7);padding: 15px 0px 15px 123px;color: #000;box-sizing: border-box;}
    .short_intro_and_selected_image {overflow: hidden;margin-bottom: 15px;}
    .si {width: 100px;float: left;margin-right: 20px;}
    .si img {width: 100px;height: 100px;overflow: hidden;border-radius: 50%;object-fit: contain}
    .shi {padding: 20px 25px;overflow: hidden;line-height: 1.4;}
    .shi h3 {font-size: 18px;font-weight: 700;}
    .shi p {font-size: 13px;font-weight: 700;}
    .ai {text-align: left;width: 50px;height: 50px;overflow: hidden;border-radius: 50%;padding: 0 25px;}
    .ai img {width: 50px;}
    .ai img.img_active {display: none;}
    .member_intro p, .image_video_description p, .member_details {font-size: 14px;}
    /*#student_extension {float: none;width: 100%;max-width: 50%;bottom: 0;left: calc(100%/4);padding: 0px;margin-bottom: 25px;}*/
    #student_extension {float: left;width: 100%;max-width: 100%;bottom: 0;padding: 0px;margin-bottom: 15px;left: 0;}
    .fixed_return{margin-bottom: 20px;}
    .fixed_return>form {text-align: right;margin-right: 25px;}
    .fixed_return>form>input{background: #313131;color: #fff;min-width: 60px;min-height: 60px;border-radius: 50%;
        font-size: 13px;font-weight: 700;border-color: transparent;}
    /*.fixed_tab{width: auto;padding: 10px;border-radius: 10px;margin-bottom: 0px;}*/
    .fixed_tab {width: 100vw;border-radius: 10px;margin-bottom: 0px;background: none;}
    .fixed_tab>form {float: left;width: calc(50vw - 5px);margin: 0;padding: 0;margin-left: calc(100vw / 4); /*this line will be deleted when next button is place*/}
    .fixed_tab>form>input.js-btn-link {background: #434343;color: #fff;border-radius: 10px;width: calc((100vw / 2) - 10px);margin: 0 10px;padding: 20px 8px;font-size: 14px;}
    /*.fixed_tab>form>button {text-align: left;padding: 0 110px;}*/
    .fixed_tab>form>button{text-align:left;background:#eb6100!important;color:#fff;border-radius:10px;max-width:calc((100vw / 2));margin:0;padding:19px 75px}
    .fixed_tab p {margin-bottom: 0;text-align: left;float: left;width: 75%;font-size: 13px;}
    .fixed_tab img{float: right;margin-top: -10px;}
    .intern,.student-type li,.tag{font-size:13px!important;border-radius:7px!important;font-weight:700!important;padding:.9em 1.2em!important;margin-bottom:10px}
}

@media screen and (min-width: 414px) and (max-width: 767px) {
    #container {background: #F2F2F2 !important;}
    .contents {margin-top: 200px;}
    .web_view {display: none !important; }
    .mobile_tab_view{display: block;}
    .full_width {grid-gap: 15px;margin: 0px 0px 10px 0px;}
    .half_width,.one_third_width,.two_third_width {grid-column: span 12;}
    .half_width:last-child {margin-bottom: 25px;}
    .one_third_width,.one_third_width p {margin-bottom: 0px;font-size: 15px;}
    .two_third_width {line-height: 1;margin-bottom: 25px;font-size: 13px;}
    #student_details {padding: 15px; border-radius: 20px;min-height: calc(100vh - 175px);    margin-bottom: 5px;}
    .fixed_short_into {z-index: 1;position: fixed;top: 246px;background: rgba(255,255,255,0.7);padding: 15px;color: #000;box-sizing: border-box;}
    .short_intro_and_selected_image {overflow: hidden;margin-bottom: 5px;}
    .si {width: 80px;float: left;}
    .si img {width: 80px;height: 80px;overflow: hidden;border-radius: 50%;object-fit: contain}
    .shi {padding: 12px;overflow: hidden;line-height: 1.4;}
    .shi h3 {font-size: 18px;font-weight: 700;}
    .shi p {font-size: 13px;font-weight: 700;}
    .ai {text-align: left;width: 50px;height: 50px;overflow: hidden;border-radius: 50%;padding: 0 15px;}
    .ai img {width: 50px;}
    .ai img.img_active {display: none;}
    .member_intro h2,.image_video_description h3,.member_details h2 {font-size: 18px;font-weight: 700;margin-bottom: 15px;}
    .member_intro p, .image_video_description p, .member_details {font-size: 13px;}
    .member_details{margin: 0;}
    /*#student_extension {float: none;width: 100%;max-width: 50%;bottom: 0;left: calc(100%/4);padding: 0px;margin-bottom: 5px;}*/
    #student_extension{float:left;width:100%;max-width:100%;bottom:0;padding:0;margin-bottom:5px;left:-7px}
    .fixed_return{margin-bottom:-20px}
    .fixed_return>form{text-align:right;margin-right:5px}
    .fixed_return>form>input{background:#313131;color:#fff;min-width:50px;min-height:50px;border-radius:50%;font-size:13px;font-weight:700;border-color:transparent}
    /*.fixed_tab{width: auto;padding: 7px;border-radius: 10px;margin-bottom: 0px;}*/
    .fixed_tab {width: 100vw;border-radius: 10px;margin-bottom: 0px;background: none;}
    .fixed_tab>form {float: left;width: calc(50vw - 5px);margin: 0;padding: 0;
        margin-left: calc(100vw / 4); /*this line will be deleted when next button is place*/}
    .fixed_tab>form>input.js-btn-link {background: #434343;color: #fff;border-radius: 10px;width: calc((100vw / 2) - 10px);
        margin: 0 5px;padding: 9px 8px;font-size: 14px;}
    /*.fixed_tab>form>button {text-align: left;padding: 0 20px;}*/
    .fixed_tab>form>button {text-align: left;background: #EB6100 !important;color: #fff;border-radius: 10px;
        max-width: calc((100vw / 2) - 15px);margin: 0 5px 0 10px;padding: 12px 30px;}
    .fixed_tab p {margin-bottom: 0;text-align: left;float: left;width: 75%;font-size: 12px;}
    .fixed_tab img{float: right;width: 30px;margin-top: -12px;}
    .tag,.intern,.student-type li {font-size: 13px !important;border-radius: 7px !important;font-weight: 700 !important;
        padding: .9em 1.2em !important;margin-bottom: 10px;}
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    #container {background: #F2F2F2 !important;}
    .contents {margin-top: 200px;}
    .web_view {display: none !important; }
    .mobile_tab_view{display: block;}
    .full_width {margin: 0px 0px 10px 0px;grid-gap: 15px;}
    .half_width,.one_third_width,.two_third_width {grid-column: span 12;}
    .half_width:last-child {margin-bottom: 25px;}
    .one_third_width,.one_third_width p {margin-bottom: 0px;font-size: 15px;}
    .two_third_width {line-height: 1;margin-bottom: 25px;font-size: 13px;}
    #student_details {padding: 15px; border-radius: 20px;min-height: calc(100vh - 175px);    margin-bottom: 5px;}
    .fixed_short_into {z-index: 1;position: fixed;top: 242px;background: rgba(255,255,255,0.7);padding: 15px;color: #000;box-sizing: border-box;}
    .short_intro_and_selected_image {overflow: hidden;margin-bottom: 5px;}
    .si {width: 80px;float: left;}
    .si img {width: 80px;height: 80px;overflow: hidden;border-radius: 50%;object-fit: contain}
    .shi {padding: 12px;overflow: hidden;line-height: 1.4;}
    .shi h3 {font-size: 18px;font-weight: 700;}
    .shi p {font-size: 13px;font-weight: 700;}
    .ai {text-align: left;width: 50px;height: 50px;overflow: hidden;border-radius: 50%;padding: 0 15px;}
    .ai img {width: 50px;}
    .ai img.img_active {display: none;}
    .member_intro h2,.image_video_description h3,.member_details h2 {font-size: 18px;font-weight: 700;margin-bottom: 15px;}
    .member_intro p, .image_video_description p, .member_details {font-size: 13px;}
    .member_details{margin: 0;}
    /*#student_extension {float: none;width: 100%;max-width: 50%;bottom: 0;left: calc(100%/4);padding: 0px;margin-bottom: 5px;}*/
    #student_extension {float: left;width: 100%;max-width: 100%;bottom: 0;padding: 0px;margin-bottom: 5px;left: -7px;}
    .fixed_return{margin-bottom: -20px;}
    .fixed_return>form {text-align: right;margin-right: 5px;}
    .fixed_return>form>input{background: #313131;color: #fff;min-width: 50px;min-height: 50px;
        border-radius: 50%;font-size: 13px;font-weight: 700;border-color: transparent;}
    /*.fixed_tab{width: auto;padding: 7px;border-radius: 10px;margin-bottom: 0px;}*/
    .fixed_tab {width: 100vw;border-radius: 10px;margin-bottom: 0px;background: none;}
    .fixed_tab>form {float: left;width: calc(50vw - 5px);margin: 0;padding: 0;
        margin-left: calc(100vw / 4); /*this line will be deleted when next button is place*/}
    .fixed_tab>form>input.js-btn-link {background: #434343;color: #fff;border-radius: 10px;
        width: calc((100vw / 2) - 10px);margin: 0 5px;padding: 9px 8px;font-size: 14px;}
    /*.fixed_tab>form>button {text-align: left;padding: 0 20px;}*/
    .fixed_tab>form>button {text-align: left;background: #EB6100 !important;color: #fff;border-radius: 10px;max-width: calc((100vw / 2) - 10px);margin: 0 0 0 10px;padding: 12px 25px;}
    .fixed_tab p {margin-bottom: 0;text-align: left;float: left;width: 75%;font-size: 12px;}
    .fixed_tab img{float: right;width: 30px;margin-top: -12px;}
    .tag,.intern,.student-type li {font-size: 13px !important;border-radius: 7px !important;font-weight: 700 !important;
        padding: .9em 1.2em !important;margin-bottom: 10px;}
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    #container {background: #F2F2F2 !important;}
    .contents {margin-top: 200px;}
    .web_view {display: none !important; }
    .mobile_tab_view{display: block;}
    .full_width {margin: 0px 0px 10px 0px;grid-gap: 15px;}
    .half_width,.one_third_width,.two_third_width {grid-column: span 12;}
    .half_width:last-child {margin-bottom: 25px;}
    .one_third_width,.one_third_width p {margin-bottom: 0px;font-size: 15px;}
    .two_third_width {line-height: 1;margin-bottom: 25px;font-size: 13px;}
    #student_details {padding: 15px; border-radius: 20px;min-height: calc(100vh - 175px);    margin-bottom: 5px;}
    .fixed_short_into {z-index: 1;position: fixed;top: 235px;background: rgba(255,255,255,0.7);padding: 15px;color: #000;box-sizing: border-box;}
    .short_intro_and_selected_image {overflow: hidden;margin-bottom: 5px;}
    .si {width: 80px;float: left;}
    .si img {width: 80px;height: 80px;overflow: hidden;border-radius: 50%;object-fit: contain}
    .shi {padding: 12px;overflow: hidden;line-height: 1.4;}
    .shi h3 {font-size: 18px;font-weight: 700;}
    .shi p {font-size: 13px;font-weight: 700;}
    .ai {text-align: left;width: 50px;height: 50px;overflow: hidden;border-radius: 50%;padding: 0 15px;}
    .ai img {width: 50px;}
    .ai img.img_active {display: none;}
    .member_intro h2,.image_video_description h3,.member_details h2 {font-size: 18px;font-weight: 700;margin-bottom: 15px;}
    .member_intro p, .image_video_description p, .member_details {font-size: 13px;}
    .member_details{margin: 0;}
    /*#student_extension {float: none;width: 100%;max-width: 50%;bottom: 0;left: calc(100%/4);padding: 0px;margin-bottom: 5px;}*/
    #student_extension {float: left;width: 100%;max-width: 100%;bottom: 0;padding: 0px;margin-bottom: 5px;left: -7px;}
    .fixed_return{margin-bottom: 10px;}
    .fixed_return>form {text-align: right;margin-right: 5px;}
    .fixed_return>form>input{background: #313131;color: #fff;min-width: 50px;min-height: 50px;border-radius: 50%;
        font-size: 13px;font-weight: 700;border-color: transparent;}
    /*.fixed_tab{width: auto;padding: 7px 2px;border-radius: 10px;margin-bottom: 0px;}*/
    .reload.mobile_tab_view {margin-left: 15px;}
    .fixed_tab {width: 100vw;border-radius: 10px;margin-bottom: 0px;background: none;padding-top: 0;}
    .fixed_tab>form {float: left;width: calc(50vw - 5px);margin: 0;padding: 0;margin-left: calc(100vw / 4); /*this line will be deleted when next button is place*/}
    .fixed_tab>form>input.js-btn-link {background: #434343;color: #fff;border-radius: 10px;width: calc((100vw / 2) - 10px);
        margin: 0 5px;padding: 9px 8px;font-size: 14px;}
    /*.fixed_tab>form>button {text-align: left;padding: 0 20px;}*/
    .fixed_tab>form>button {text-align: left;background: #EB6100 !important;color: #fff;border-radius: 10px;
        max-width: calc((100vw / 2) - 10px);margin: 0 5px;padding: 12px 9px;}
    .fixed_tab p {margin-bottom: 0;text-align: left;float: left;width: 75%;font-size: 12px;}
    .fixed_tab img{float: right;width: 30px;margin-top: -12px;}
    .tag,.intern,.student-type li {font-size: 13px !important;border-radius: 7px !important;font-weight: 700 !important;padding: .9em 1.2em !important;margin-bottom: 10px;}
}



