@charset "utf-8";
/* /////////////////////////////////////////////////////////////////////////////


    会員登録：志望情報入力用CSS

        Since:
        Update:


/////////////////////////////////////////////////////////////////////////////

/* *********************************************************************

    .form - 送信フォーム

********************************************************************* */
table.form__table .selectBox__wrapper {
    margin-bottom: .5em;
}

/* ~767 */
@media screen and (max-width: 767px) {
    .form__table td {
        flex-wrap: wrap;
    }
}

