@charset "utf-8";
/* /////////////////////////////////////////////////////////////////////////////


    /client/use/ - 使い方用CSS　追加実装分

        Since:
        Update:


///////////////////////////////////////////////////////////////////////////// */

/* アピール文
--------------------------------------------- */
.content__block p {
    text-align: left;
}

span {
    display: inline-block;
}