@charset "utf-8";
/* /////////////////////////////////////////////////////////////////////////////


    /mypage/contact/共通要素用CSS

        Since:
        Update:


///////////////////////////////////////////////////////////////////////////// */
/* *********************************************************************

    メインコンテンツ内共通

********************************************************************* */
.main__content {
    margin-bottom: 5em;
    text-align: left;
    font-size: initial;
}
.main__content p + p {
    margin-top: 1em;
}

/* タイトル
--------------------------------------------- */
.main__content__headline {
    margin-bottom: .5em;
    line-height: 1.7;
}
#contact .main__content__headline {
    margin-bottom: .5em;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .main__content__headline {
        font-size: 2.4rem;
    }
}

/* フォームテーブル
--------------------------------------------- */
table.form__table {
    margin-top: 3em;
}

table.form__table td {
    line-height: 1.5;
}

/* *********************************************************************

    #contact - 問合せ入力画面

********************************************************************* */
/* 送信ボタン */
#contact .form__controls input:only-child {
    width: 80%;
}

/* *********************************************************************

    #complete - 完了画面

********************************************************************* */
/* 768~ */
@media screen and (min-width: 768px) {
    #complete {
        text-align: center;
    }
}

