@charset "utf-8";
/* /////////////////////////////////////////////////////////////////////////////


    /about/ - LinkTとは用CSS

        Since:
        Update:


///////////////////////////////////////////////////////////////////////////// */
/* *********************************************************************

    ページ共通設定

********************************************************************* */
body {
    background: #FFF;
}

/* *********************************************************************

    共通クラス設定

********************************************************************* */
/* 黒いボタン
--------------------------------------------- */
.navBk {
    display: flex;
    justify-content: center;
    margin: 1.5em auto;
}
.navBk a {
    max-width: 280px;
    margin: 0;
    padding: 1em 0;
    font-size: 80%;
}
.navBk a + a {
    margin-left: 1em;
}

/* 各セクションタイトル
--------------------------------------------- */
.headline--small {
    display: flex;
    align-items: center;
    max-width: 750px;
    margin: 0 auto 1em;
    white-space: pre;
    color: #0081cc;
    letter-spacing: .25em;
}
.headline--small::before,
.headline--small::after {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    min-height: 2px;
    border-bottom: solid 2px #0081CC;
}
.headline--small::before {
    margin-right: 1em;
}
.headline--small::after {
    margin-left: 1em;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .headline--small::before,
    .headline--small::after {
        border-bottom-width: 3px;
    }
}

/* *********************************************************************

    .main__catch - キャッチコピー

********************************************************************* */
.main__catch {
    padding: 5.5em 0 6.3em;
    background: url(/assets/img/about/photo_main-sp.jpg) no-repeat left top / cover;
    text-align: center;
    color: #FFF;
    /* VP:375 ~ 1200 : 12px ~ 24px */
    font-size: calc( 1.2rem + 12 * (100vw - 375px) / 825);
}
.main__catch .headline--xlarge {
    margin-bottom: .3em;
}

/* ~374 */
@media screen and (max-width: 374px) {
    .main__catch {
        font-size: 1.2rem;
    }
}
/* 768~ */
@media screen and (min-width: 768px) {
    .main__catch {
        background-image: url(/assets/img/about/photo_main-pc.jpg);
    }
}
/* 1200~ */
@media screen and (min-width: 1200px) {
    .main__catch {
        font-size: 2.4rem;
    }
}

/* タイトル
--------------------------------------------- */
.main__catch .headline--xlarge {
    text-shadow: 3px 3px 2px rgba(0,0,0, .4);
}

/* navi
--------------------------------------------- */
.main__catch .navBk {
    width: 80%;
    opacity: .8;
}
/* ~374 */
@media screen and (max-width: 374px) {
    .main__catch .navBk {
        width: 95%;
    }
}

/* 文章
--------------------------------------------- */
.main__catch p {
    line-height: 2;
    text-shadow: 3px 3px 3px rgba(0,0,0, .6);
    font-weight: bold;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .main__catch p:nth-of-type(2) {
        text-shadow: 3px 3px 3px rgba(0,0,0, .4);
        font-size: 75%;
        letter-spacing: .22em;
    }
}

/* *********************************************************************

    .main__summary

********************************************************************* */
#main .main__summary {
    position: relative;
    margin-bottom: 7em;
    padding-left: 0;
    padding-right: 0;
}

/* 768~ */
@media screen and (min-width: 768px) {
    #main .main__summary {
        margin-bottom: 14em;
    }
}

/* 画像
--------------------------------------------- */
.main__summary img {
    vertical-align: middle;
}

/* ナビブロック
--------------------------------------------- */
.summary__nav {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: calc(100% - 12%);
    left: 0;
    width: 95%;
    max-width: 750px;
    margin: auto;
    padding: 5%;
    border-radius: 4px;
    background: #0081CC;
    color: #FFF;
}
.summary__nav .headline--small {
    max-width: calc(650px - 2em);
    margin: 0 auto 1em;
    font-weight: normal;
    color: #FFF;
    letter-spacing: 2px;
}
.summary__nav .headline--small::before,
.summary__nav .headline--small::after {
    border-color: #FFF;
    border-bottom-width: 1px;
}
.summary__nav > div {
    display: flex;
    justify-content: center;
}

.summary__nav a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 280px;
    padding: 1em .5em;
    background: #FFF;
    color: #0081cc;
    font-size: 70%;
    font-weight: bold;
}
.summary__nav a + a {
    margin-left: .5em;
}
.summary__nav a::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-width: 5px 0 5px 9px;
    border-style: solid;
    border-color: transparent transparent transparent #0081CC;
    margin-right: 1.5em;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .summary__nav {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
    .summary__nav a {
        padding: 1.5em;
        font-size: 90%;
    }
    .summary__nav a + a {
        margin-left: 1em;
    }
    .summary__nav a::before {
        border-width: 7.5px 0 7.5px 12px;
    }
}


/* *********************************************************************

    .main__content

********************************************************************* */
#main {
    padding-bottom: 0;
}
.main__content {
    margin-bottom: 4rem;
}

/* ~767 */
@media screen and (max-width: 767px) {
    .main__content {
        font-size: 81.25%;
    }
}

/* 768~ */
@media screen and (min-width: 768px) {
    .main__content {
        margin-bottom: 10rem;
    }
}

/* *********************************************************************

    .main__content__feature - 特徴

********************************************************************* */
.main__content__feature {
}

/* 特徴説明
--------------------------------------------- */
.main__content__feature dl {
    max-width: 960px;
    margin: auto;
}
.main__content__feature dt {
    display: flex;
    align-items: center;
    width: 80%;
    height: 4em;
    margin: 1.5em auto .5em;
    background: url(/assets/img/about/icon_feature_01.png) no-repeat right center / auto 3em;
    line-height: 1.25;
    font-size: 133.33%;
    color: #0081cc;
}
.main__content__feature :nth-of-type(2) dt { background-image: url(/assets/img/about/icon_feature_02.png); }
.main__content__feature :nth-of-type(3) dt { background-image: url(/assets/img/about/icon_feature_03.png); }
.main__content__feature :nth-of-type(4) dt { background-image: url(/assets/img/about/icon_feature_04.png); }

.main__content__feature dd {
    line-height: 2;
    font-size: 87%;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .main__content__feature dl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }
    .main__content__feature dl > div {
        width: 48.5%;
        margin-bottom: 1em;
    }
    .main__content__feature dt {
        box-sizing: border-box;
        width: 89%;
        height: 4.5em;
        margin-top: 2em;
        margin-left: 0;
        padding-top: .5em;
        background-size: auto 100%;
    }
    .main__content__feature dd {
/*        font-size: 77.77%;*/
        font-size: 74.5%;
    }
}

/* *********************************************************************

    .main__content__flow - ご利用の流れ

********************************************************************* */
.main__content__flow {
    box-sizing: border-box;
    max-width: 980px;
    margin: 4em auto 0;
    padding: 1.5em 5%;
    border: solid 1px #0081CC;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .main__content__flow {
        margin-bottom: 0;
        padding: 3.6em 5%;
    }
}

/* タイトル
--------------------------------------------- */
.main__content__flow .headline--small {
}

/* STEP
--------------------------------------------- */
.main__content__flow ol {
    max-width: 750px;
    margin: auto;
}
.main__content__flow li {
    box-sizing: border-box;
    padding: .5em 1em;
    background: #0081cc;
    color: #FFF;
}
.main__content__flow li + li {
    margin-top: 1em;
}
.main__content__flow span {
    margin-right: 3em;
}
.main__content__flow small {
    font-size: 80%;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .main__content__flow ol {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
    }
    .main__content__flow li {
        width: 23%;
        text-align: center;
        line-height: 1.25;
    }
    .main__content__flow li + li {
        margin-top: 0;
    }
    .main__content__flow span {
        display: block;
        margin: 0 auto .25em;
    }
    .main__content__flow small {
        display: block;
    }
}

/* *********************************************************************

    .main__content__qa - よくあるご質問

********************************************************************* */
.main__content > .main__content__qa {
    margin: -4rem 0 4rem;
    padding-top: 12rem;
}
.link {
    color: #0000FF !important;
}
.main__qa--more {
    text-align: center;
    font-size: calc( 1em + 7 * (100vw - 375px) / 825);
    margin: 3em 0;
    color: #0081cc;
    position: relative;
}
.more--question {
    margin-left: 30px;
}
.main__qa--more-qa {
    position: relative;
}
.main__qa--more-ans {
    margin-bottom: 0;
    padding: 1.5em 2.5% 1.5em 9%;
}
.main__qa--more-ans {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 88.88%;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .main__content > .main__content__qa {
        margin-bottom: 9rem;
        padding-top: 9em;
    }
}

/* 質問
--------------------------------------------- */
.main__content__qa dl {
    box-sizing: border-box;
    max-width: 980px;
    margin: 2em auto 0;
}
/* QA */
.main__content__qa dt::before,
.main__content__qa dd::before {
    display: block;
    margin-right: 1em;
}
.main__content__qa dt::before {
    content: 'Q';
}
.main__ans::before {
    content: 'A';
}
.ans__box::before {
    content: 'A';
    margin-right: 1em;
}
.main__qa--more::after {
    content: '＋';
}
.main__qa--more-qa::after {
    position: absolute;
    content: '＋';
    right: 1em;
}
.close::after {
    position: absolute;
    content: '−';
    right: 1em;
}
.main__close::after {
    content: '−';
}
.main__qa--more-qa {
    display: flex;
    padding: 1em 8.5% 1em 2.5%;
}
.main__qa--more-ans {
    padding: 0 2.5% 1em;
}
.ans__box {
    display: flex;
}
.main__qa,
.main__ans {
    display: flex;
    padding: 1em 2.5%;
}
.main__qa {
    background: #0081cc;
    color: #FFF;
}
.main__ans {
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 88.88%;
}
.main__qa--more-qa {
    border-top: #000 1px solid;
    background: unset;
    color: #000;
}

/* 768~ */
@media screen and (min-width: 768px) {
    .main__qa--more::after {
        right: 12em;
    }
}
/* 1024~ */
@media screen and (min-width: 1024px) {
    .main__content__qa dl {
        margin-top: 3.5em;
    }
    .main__content__qa dt::before,
    .main__content__qa dd::before {
        margin-right: 2em;
        font-size: 100%;
    }
    .ans__box::before {
        margin-right: 2em;
        font-size: 110%;
    }
    .main__content__qa dt {
        font-size: 100%;
        padding: 1em 2.5% 1em 9%;
    }
    .main__ans {
        margin-bottom: 2em;
        padding: 1.5em 9%;
    }   
    .main__qa--more-ans {
        margin-bottom: 2em;
        padding: 0 9% 0;
    }
    .main__qa--more-qa::after {
        right: 9%;
    }
    .close::after {
        right: 9%;
    }
}
.qa__list {
    display: none;
}
.main__qa--more-ans {
    display: none;
}
/* *********************************************************************

    最下部ボタン

********************************************************************* */
.main__content__qa + .navBk {
    margin-top: 0;
    margin-bottom: 0;
}
.main__content__qa + .navBk:last-of-type a {
    background: #333;
}
/* 768~ */
@media screen and (min-width: 768px) {
    .main__content__qa + .navBk:last-of-type a {
        font-size: 100%;
    }
}
