@charset "UTF-8";
/**
 * *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-*
 *  base
 * *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-*
**/

* { margin: 0; padding: 0; box-sizing: border-box; }
*::before,
*::after { box-sizing: border-box; }
img, iframe { border: 0; vertical-align: bottom; }
ul, ol { list-style-type: none; }
a { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }

/* ---------------------------------------------------------------------------
//  clearfix
--------------------------------------------------------------------------- */
.cf::after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
